<div class="container mt-4">
    <div class="row" *ngIf="foo">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    Detalhe
                </div>               
                <ul class="list-group group-flush">
                    <li class="list-group-item"><b>ID: </b>{{foo.id}}</li>
                    <li class="list-group-item"><b>Name: </b>{{foo.name}}</li>
                </ul>              
                <div class="card-footer text-center">
                    <button class="btn btn-outline-primary" (click)="voltar()">
                        <i class="fas fa-arrow-alt-circle-left"></i> Voltar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
